<!doctype html>
<html ng-app>
  <head>
    <script src="js/angular.min.js"></script>
  </head>
  <body>

    <!-- ng-app : tanda html menggunakan angular
    ng-model : name untuk data binding
    directive {{expression}} : tampilkan output hasil input ng-model
    ng-init : initial array
    ng-repeat : tampilkan data array di ng-init -->

    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1> Name is : {{yourName}}</h1>
    </div>

    <div ng-init="daftarnama=['andi', 'ahmad', 'ramdan']"></div>

    <ul>
      <li ng-repeat = "dn in daftarnama">{{ dn }}</li>
    </ul>
    
  </body>
</html>