<!doctype html>
<html ng-app>
  <head>
    <script src="js/angular.min.js"></script>
  </head>
  <body>

    <!-- ng-app : tanda html menggunakan angular
    ng-model : name untuk data binding
    directive {{expression}} : tampilkan output hasil input ng-model
    ng-init : initial array
    ng-repeat : tampilkan data array di ng-init -->

    <div ng-init="data = 
      [{nama : 'andi', kota : 'Bandung'},
      {nama : 'baban', kota : 'Jakarta'},
      {nama : 'jajang', kota : 'Semarang'}]">
    </div>

   <!--  <ul>
      <li ng-repeat = "dn in data | filter:hasil">
        Nama : {{ dn.nama | uppercase }} <br>
        Kota : {{ dn.kota | lowercase }}
      </li>
    </ul> -->

    <table border="1" width="50%">
      <caption><h1>DATA KONSUMEN</h1></caption><br>
      <tr><td style="padding: 20px" colspan="2" align="right"><input type="text" ng-model="hasil" placeholder="CARI DATA KONSUMEN"></td></tr>
      <tr style="background: blue; color: #fff">
        <th>NAMA</th>
        <th>KOTA</th>
      </tr>
      <tr ng-repeat = "dn in data | filter:hasil">
        <td>{{ dn.nama | uppercase }}</td>
        <td>{{ dn.kota | uppercase }}</td>
      </tr>
    </table>
    
  </body>
</html>
