<!doctype html>
<html ng-app="TestApp">
  <head>
    <script src="js/angular.min.js"></script>
  </head>
  <body>

    <!-- ng-app : tanda html menggunakan angular
      ng-model : name untuk data binding
      directive {{expression}} : tampilkan output hasil input ng-model
      ng-init : initial array
      ng-repeat : tampilkan data array di ng-init 
    -->

    <div ng-controller="dataOrang">

      <table border="1" width="50%">
        <caption><h1>DATA KONSUMEN</h1></caption><br>
        <tr><td style="padding: 20px" colspan="2" align="right"><input type="text" ng-model="hasil" placeholder="CARI DATA KONSUMEN"></td></tr>
        <tr style="background: blue; color: #fff">
          <th>NAMA</th>
          <th>KOTA</th>
        </tr>
        <tr ng-repeat = "dn in data | filter:hasil">
          <td>{{ dn.nama | uppercase }}</td>
          <td>{{ dn.kota | uppercase }}</td>
        </tr>
      </table>

    </div>

    <div ng-app="" ng-controller="dataOrang">

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{fullName()}}

  </div>
   <!--  //eksternal controller -->
    <script src="js/Controller.js"></script>

    <!-- //internal controller -->
    <!-- <script>

      //module controller
      var test = angular.module('TestApp', []);

      //controller
      test.controller('dataOrang', function($scope) {

        $scope.data = [{nama : 'andi', kota : 'Bandung'},{nama : 'baban', kota : 'Jakarta'},{nama : 'jajang', kota : 'Semarang'}];

        $scope.firstName = "John",
        $scope.lastName = "Doe",
  
        $scope.fullName = function() {
            return $scope.firstName + " " + $scope.lastName;
        }

      });

    </script> -->
    
  </body>
</html>
