<h3>INI HALAMAN INDEX 3 </h3>

<table>
	<tr>
		<td>NAMA BARU</td>
		<td>:</td>
		<td><input type="text" ng-model="databaru.nama"></td>
	</tr>
	<tr>
		<td>KOTA</td>
		<td>:</td>
		<td><input type="text" ng-model="databaru.kota"></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td><button ng-click="tambahData()">Tambah Data</button></td>
	</tr>
</table>