<html ng-app="bindApp">
<head>
	<meta charset="UTF-8">
	<title>Belajar Angulars</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-controller="bindCtrl">
	<h1>Kakulator Angular</h1>
	<span>{{jenis}}</span>
	<br>
	<input type="text" ng-model="x">
	<input type="text" ng-model="y"> = {{hasil}} <br><br>
	<button ng-click="hitung(1)">Tambah</button>
	<button ng-click="hitung(2)">Kurang</button>
	<button ng-click="hitung(3)">Bagi</button>
	<button ng-click="hitung(4)">Kali</button>
</body>
</html>