<div>

  <table border="1" width="50%">
    <caption><h1>DATA KONSUMEN</h1></caption><br>
    <tr><td style="padding: 20px" colspan="2" align="right" width="50%"><input type="text" ng-model="hasil" placeholder="CARI DATA KONSUMEN"></td></tr>
    <tr style="background: blue; color: #fff">
      <th>NAMA</th>
      <th>KOTA</th>
    </tr>
    <tr ng-repeat = "dn in data | filter:hasil">
      <td>{{ dn.nama }}</td>
      <td>{{ dn.kota }}</td>
    </tr>
  </table>

</div>

